# editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
ident_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.json]
indent_style = tab

[*.py]
ident_style = space
