name: Package Review

on:
  pull_request:
    types: [review_requested]

jobs:
  trigger-review:
    if: github.event.requested_reviewer.id == 29230230
    runs-on: ubuntu-latest
    steps:
      - name: Trigger package review
        run: curl --http1.1 -X POST https://packagecontrol.io/test_pr/$PR_NUM.json
        env:
          PR_NUM: ${{ github.event.pull_request.number }}
